cffi==1.16.0
contourpy==1.0.5
cryptography==41.0.4
cycler==0.11.0
fonttools==4.37.4
jeepney==0.8.0
keyring==19.3.0
kiwisolver==1.4.4
matplotlib==3.6.0
numpy==1.23.3
packaging==23.1
pandas==1.5.0
Pillow==10.0.1
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
SecretStorage==3.3.3
six==1.16.0
tzdata==2023.3
